:root {
    --color-rojo: #d73428;
    --color-amarillo: #fce900;
    --color-azul: #004aad;

}
.container {
  min-height: 100vh;
  background-color: #050505;
  color: var(--color-amarillo);
  font-family: 'Courier New', Courier, monospace;
  position: relative;
  overflow: hidden;
  cursor: crosshair; /* Cursor de precisión */
}

/* EFECTO CRT: Sangrado de luz y estática */
.container::before {
  content: " ";
  position: absolute;
  inset: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), 
              linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 100; /* Siempre arriba */
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}

/* VIÑETA INDUSTRIAL */
.container::after {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(circle, transparent 40%, black 150%);
  pointer-events: none;
  z-index: 90;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 0.2rem;
  border-bottom: 1px solid rgba(251, 255, 0, 0.3);
  background: rgba(0,0,0,0.8);
  backdrop-filter: blur(5px);
  z-index: 110;
}

.glitch {
  position: relative;
  text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
               -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
               0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  animation: glitch-anim 500ms infinite;
}

.photoCard {
  width: 320px;
  background: #000;
  border: 1px solid var(--color-amarillo);
  padding: 5px;
  position: absolute;
  top: 15%;
  left: 5%;
  z-index: 20;
  filter: grayscale(1) contrast(1.2);
  transition: filter 0.3s ease;
}

.photoCard:hover {
  filter: grayscale(0) contrast(1);
  box-shadow: 0 0 20px rgba(251, 255, 0, 0.4);
}

.paperClip {
  position: absolute;
  top: 40%;
  right: 10%;
  background: var(--color-amarillo);
  color: #000;
  padding: 5px 15px;
  font-weight: 900;
  transform: rotate(15deg);
  z-index: 80;
  mix-blend-mode: exclusion; /* Se invierte según el fondo */
  cursor: grab;
}

.manifesto {
  position: absolute;
  bottom: 50px;
  left: 50px;
  max-width: 300px;
  font-size: 0.8rem;
  line-height: 1.4;
  text-transform: uppercase;
  z-index: 20;
}

/* ANIMACIONES DE SISTEMA */
@keyframes glitch-anim {
  0% { transform: translate(0); }
  20% { transform: translate(-2px, 2px); }
  40% { transform: translate(-2px, -2px); }
  60% { transform: translate(2px, 2px); }
  80% { transform: translate(2px, -2px); }
  100% { transform: translate(0); }
}